h1 {
    color: red;
}
img {
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: rgb(219, 219, 178);
    padding: 50px;
    border: 10px dashed black;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
